#content{
    display: flex;
    flex-direction: row;
    background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861);
    animation: backgroundGradient 15s ease infinite;
    background-size: 400% 400%;
    justify-content: space-around;
    padding-top: 100px;
}

#container{
    display: inline-block;
    border: 1px;
    margin-top: 10px;
   
}
.row {
    display: block;
    max-width: 100%;
    font-size: 0;
}
  
.box {
    background: #ffffff;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
    display: inline-block;
    box-sizing: border-box;
}

#buttons{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
   
}

#reset, #rainbow, #custom, #eraser{
  
    padding: 30px;
    border-radius: 5px;
    border: 1px solid;
}

#header{
    text-align: center;
    font-size: xxx-large;
    color: #dd1964;
    font-weight: bolder;

}
@media (min-width: 50px) {
    html{background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861);
    animation: backgroundGradient 15s ease infinite;
    background-size: 400% 400%;}
}